/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*Logo font*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
#apply-here body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1366px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.dark-text {
    color: #001414;
}

.logo-color {
    color: #984152
}

.logo-font {
    font-family: Pacifico;
}

/* Header */
header {
    background-color: #e4e4e2;
    height: 80px;
    position: relative;
}

#logo-top {
    font-family: Pacifico, sans-serif;
    float: left;
    font-size: 180%;
    margin: 0 0 -1px 13px;
}

/* Navigation links */
#menu,
header {
    clear: both;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 14px;
}

#menu a {
    text-decoration: none;
    padding: 2px 5px;
}

#menu a:hover {
    background: rgb(224, 184, 192);
    border-radius: 3px;
}

.active {
    background: #984152;
    color: white;
    border-radius: 3px;
}

#menu .active:hover {
    background: #984152;
    color: white;
    border-radius: 3px;
}

/* Change schedule button */
.change-schedule {
    float: right;
    margin-right: 20px;
    padding: 2px 5px;
    cursor: pointer;
}

.change-schedule:hover {
    background: rgb(224, 184, 192);
    border-radius: 3px;
}

.change-schedule i {
    font-size: 120%;
}

.cs-text {
    margin-left: 8px;
}

.button {
    background: #984152;
    color: white;
    border-radius: 3px;
    padding: 0 7px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.button:hover {
    padding: 2px 12px;
    font-size: 110%;
}

/* Styling of the popup form */
/* This snippet of code was based on https://www.w3schools.com/howto/howto_js_popup_form.asp */
/* adjusted with an extra pop up thank you note and a closing X */
.form-popup,
.form-thanks {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9;
    background-color: rgb(224, 184, 192);
}

.form-thanks {
    height: 60px;
    width: 180px;
    padding: 25px 20px;
}

.form-container {
    max-width: 265px;
    height: 350px;
    padding: 10px;
    background-color: rgb(224, 184, 192);
}

.form-container input[type=text] {
    width: 100%;
    margin: 5px 0 22px 0;
    border: none;
}

.form-container input[type=date] {
    margin: 5px 120px 22px 0;
    border: none;
}

.form-container input[type=time] {
    border: none;
}

.form-container .cs-time {
    display: inline-block;
    width: 49%;
    margin-bottom: 22px;
}

.form-container .button {
    font-family: Roboto;
    font-size: medium;
    margin: 3px auto;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.cancel {
    background-color: inherit;
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.7;
    cursor: pointer;
}

.cancel:hover {
    font-size: 22px;
}

.form-container label {
    margin-bottom: 10px;
}

/* End of popup form */

/* Hero image and logo */
#hero-outer {
    position: relative;
    background: url('../images/hero_image.jpg') no-repeat fixed #e4e4e2;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-position-y: 25%;
    background-size: 100%;
}

#cover-logo {
    width: 300px;
    height: 200px;
    left: 5%;
    top: 50px;
    position: absolute;
}

#main-logo {
    font-family: Pacifico;
    font-size: 600%;
    height: 130px;
}

#sub-logo-1 {
    font-size: 300%;
    padding-left: 70px;
}

#sub-logo-2 {
    font-size: 300%;
    padding-left: 115px;
}

/* Cover text */
.cover-text {
    width: 285px;
    height: 150px;
    background-color: rgba(224, 184, 192, 0.8);
    left: 5%;
    bottom: 75px;
    padding: 18px;
    position: absolute;
}

.cover-text>h2 {
    font-size: 140%;
    margin-bottom: 15px;
    line-height: 1.5;
}

.cover-text>button {
    padding: 6px;
    margin: 0 auto;
    display: block;
    font-size: 120%
}

.cover-text>button:hover {
    padding: 8px;
    font-size: 130%;
}

#next-event {
    width: 242px;
    height: 133px;
    background-color: rgba(224, 184, 192, 0.8);
    right: 2%;
    bottom: 50px;
    padding: 18px;
    position: absolute;
}

#next-event>h2 {
    font-size: 140%;
    margin-bottom: 10px;
}

#next-event>h3 {
    font-size: 105%;
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #e4e4e2;
}

#footer-container {
    height: 75px;
    font-size: small;
    margin: 0 10%;
    padding: 5px 0 5px;
}

#footer-container ul {
    list-style-type: none;
    display: inline-block;
    width: 32.5%;
}

.social-media-links {
    list-style-type: none;
    border-right: solid 1px #001414;
    text-align: left;
}

.social-media-links a {
    text-decoration: none;
    color: inherit;
}

.social-media-links a:hover {
    font-size: medium;
}

footer i {
    font-size: small;
    padding-right: 10px;
    margin: 2px 0;
}

.contacts li {
    margin: 2px 0;
}

.footer-center {
    text-align: center;
}

#logo-bottom {
    font-family: Pacifico, sans-serif;
    font-size: 150%;
    margin: 10px 0 5px 0;
}

.contacts {
    list-style-type: none;
    border-left: solid 1px #001414;
    text-align: right;
}

/* About us */
.about {
    font-size: large;
    line-height: 1.5;
}

.center-text {
    width: 75%;
    margin: 60px auto;
    clear: both;
}

.about-text-container-1,
.about-img-2 {
    float: left;
    clear: left;
}

.about-text-container-2,
.about-img-1 {
    float: right;
    clear: right;
}

.about-img-1,
.about-img-2 {
    width: 35%;
    height: auto;
    margin: 10px;
}

.about-text-container-1,
.about-text-container-2 {
    width: 44%;
    margin: 10px 10px;
    padding-top: 36%;
    position: relative;
}

.about-text {
    width: 75%;
    height: auto;
    position: absolute;
    top: 25%;
}

.about-text-container-1 .about-text {
    right: 0;
    text-align: right;
}

.about-text-container-2 .about-text {
    left: 0;
}

.about-img-2 {
    margin-left: 8%;
}

.about-img-1 {
    margin-right: 8%;
}

#opening-hours {
    width: 400px;
    height: auto;
    background-color: rgb(224, 184, 192);
    margin: 30px auto;
    padding: 10px;
}

#group-img {
    width: 100%;
    height: auto;
    display: block;
}

/* Code for Back to top button */
/* This snippet of code was copied as a whole from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(224, 184, 192, 0.6);
    color: rgba(0, 20, 20, 0.6);
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #984152;
    color: white;
}

/* En of code for Back to top button */

/* Application form*/
.show-on-small {
    display: none;
}

#apply-here-container {
    margin: auto 0;
}

#appl-logo {
    margin: 0 auto;
    height: 160px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#appl-logo a {
    font-family: Pacifico;
    font-size: 550%;
    font-weight: bold;
    text-decoration: none;
}

#appl-logo a:hover {
    font-size: 600%;
}

#app-form-container {
    width: 496px;
    margin: 30px auto;
}

#apply {
    padding: 0 0 8px 2px;
    line-height: 1.5;
}

#app-form {
    height: 532px;
    width: 475px;
    background-color: rgb(224, 184, 192);
    padding: 14px 10px 10px 10px;
    position: relative;
}

#app-form label {
    font-size: medium;
}

.end {
    float: right;
}

input {
    font-family: Roboto;
    font-size: medium;
    border-radius: 2px;
    margin-top: 3px;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 3px;
}

input:focus {
    border: #984152 2px;
}

.half-row {
    display: inline-block;
    width: 49%;
}

.half-row input {
    width: 100%;
}

.third-row {
    display: inline-block;
    width: 44%;
}

#dogs-age {
    width: 42px;
}

#year-month {
    margin-top: 1px;
    margin-left: 3px;
}

#e-mail,
textarea {
    width: 100%;
}

select,
textarea {
    border-radius: 2px;
    font-family: Roboto;
    font-size: medium;
    padding: 0 10px;
    margin-top: 3px;
    resize: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    height: 30px;
}

option {
    font-size: medium;
}

textarea {
    height: 90px;
}


#app-form p {
    font-size: small;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

/* Media queries*/

/* For screen height max 750px and screen width min 845px */
@media screen and (max-height: 750px) and (min-width: 845px) {
    .cover-text {
        top: 370px;
    }

    body {
        display: block;
    }

    #hero-outer {
        height: 600px;
        width: 100%;
        background: url('../images/hero_image.jpg') no-repeat #e4e4e2;
        background-position-y: 25%;
        background-size: 100%;
    }
}

/* For screen width < 845px and height > 640px*/
@media screen and (min-height: 640px) and (max-width: 845px) {
    #main-logo {
        font-size: 400%;
        height: 87px;
    }

    #sub-logo-1 {
        font-size: 185%;
        padding-left: 45px;
    }

    #sub-logo-2 {
        font-size: 185%;
        padding-left: 65px;
    }

    .cover-text {
        width: 200px;
        height: 110px;
        left: 3%;
        top: 60%;
        padding: 12px;
    }

    .cover-text>h2 {
        font-size: 90%;
    }

    .cover-text>button {
        font-size: 85%;
    }

    .cover-text>button:hover {
        font-size: 100%;
    }

    #next-event {
        width: 178px;
        height: 100px;
        right: 5%;
        top: 70%;
        padding: 12px;
    }

    #next-event>h2 {
        font-size: 90%;
    }

    #next-event>h3 {
        font-size: 78%;
    }

    /* Footer */

    #footer-container {
        margin: 0 3%;
    }

    #footer-container .social-media-links,
    #footer-container .contacts {
        width: 38%;
    }

    #footer-container .footer-center {
        width: 22%;
    }
}

/* For screen width < 845px and height < 640px*/
@media screen and (max-height: 640px) and (max-width: 845px) {
    #hero-outer {
        height: 530px;
        width: 100%;
        background: url(../images/hero_image_2.jpg) no-repeat #e4e4e2;
        background-position-x: 4%;
        background-position-y: top;
        background-size: 118%;
    }

    #main-logo {
        font-size: 400%;
        height: 87px;
    }

    #sub-logo-1 {
        font-size: 185%;
        padding-left: 45px;
    }

    #sub-logo-2 {
        font-size: 185%;
        padding-left: 65px;
    }

    .cover-text {
        width: 200px;
        height: 110px;
        left: 3%;
        top: 322px;
        padding: 12px;
    }

    .cover-text>h2 {
        font-size: 90%;
    }

    .cover-text>button {
        font-size: 85%;
    }

    .cover-text>button:hover {
        font-size: 100%;
    }

    #next-event {
        width: 178px;
        height: 100px;
        right: 5%;
        top: 355px;
        padding: 12px;
    }

    #next-event>h2 {
        font-size: 90%;
    }

    #next-event>h3 {
        font-size: 78%;
    }

    /* Footer */
    #footer-container {
        margin: 0 3%;
    }

    #footer-container .social-media-links,
    #footer-container .contacts {
        width: 38%;
    }

    #footer-container .footer-center {
        width: 22%;
    }
}

/* For screen width < 480px */
@media screen and (max-width: 480px) {

    .change-schedule {
        margin-right: 0px;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .cs-text {
        display: none;
    }

    #hero-outer {
        height: 523px;
        width: 100%;
        background: url(../images/hero_image_3.jpg) no-repeat #e4e4e2;
        background-position-x: left;
        background-position-y: top;
        background-size: 132%;
    }

    #cover-logo {
        width: 200px;
        height: 125px;
        top: 8px;
    }

    #main-logo {
        font-size: 350%;
        margin-bottom: -5px;
    }

    #sub-logo-1 {
        font-size: 175%;
        padding-left: 38px;
    }

    #sub-logo-2 {
        font-size: 175%;
        padding-left: 58px;
    }

    .cover-text {
        width: 195px;
        height: 95px;
        top: 267px;
        padding: 10px;
    }

    .cover-text>h2 {
        font-size: 80%;
        margin-bottom: 3px;
    }

    .cover-text>button {
        font-size: 75%;
    }

    .cover-text>button:hover {
        font-size: 90%;
    }

    #next-event {
        width: 185px;
        height: 95px;
        top: 400px;
    }

    #next-event>h2 {
        font-size: 85%;
    }

    #next-event>h3 {
        font-size: 75%;
    }

    /* Footer */
    #footer-container {
        margin: 0 2%;
    }

    #facebook,
    #instagram,
    #twitter {
        display: none;
    }

    #footer-container .social-media-links {
        width: 10%;
        border-right: none;
    }

    #footer-container .footer-center {
        width: 28%;
        border-right: none;
    }

    #footer-container .contacts {
        width: 59%;
        border-left: none;
    }
}

/* For screen width < 850px */
@media screen and (max-width: 850px) {

    /* About us */
    .about {
        font-size: medium;
    }

    .center-text {
        width: 85%;
    }

    .about-text {
        width: 85%;
        top: 10%;
    }

    #opening-hours {
        width: 335px;
    }

}

/* For screen width < 565px */
@media screen and (max-width: 565px) {

    /* About us */
    .center-text {
        margin: 35px auto;
    }

    .about-text-container-1,
    .about-text-container-2 {
        width: 85%;
        margin: 15px auto;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        position: static;
        padding-top: 0;
    }

    .about-text-container-1,
    .about-text-container-2,
    .about-img-1,
    .about-img-2 {
        float: none;
    }

    .about-img-1,
    .about-img-2 {
        width: 60%;
        display: block;
        margin: 10px auto;
    }

    .about-text.small-screen {
        width: 100%;
        text-align: left;
        position: static;
    }

    #opening-hours {
        width: 220px;
    }

}


/* For screen width < 530px */
@media screen and (max-width: 530px) {

    /* Application form*/
    .show-on-small {
        display: block;
    }

    #appl-logo {
        display: none;
    }

    #appl-logo {
        height: 115px;
    }

    #appl-logo a {
        font-size: 450%;
    }

    #appl-logo a:hover {
        font-size: 500%;
    }

    #app-form-container {
        width: 90vw;
    }

    #app-form {
        height: 763px;
        width: 95%;
        margin: 0 auto;
    }

    .half-row.end {
        float: none;
    }

    .half-row {
        width: 98%;
    }

    .third-row {
        width: 90%;
    }
}